body {
	background-image:url("bg3.jpg");
	background-attachment:fixed;;
	padding:0px;
	margin:0px;
}
* {
	font-size: 0.99em;
}
div {
	/* border: 1px solid black; */
}
#header {
	background-color:white;
	min-width:800px;
	text-align:center;
	border-bottom:2px solid gray;
	margin-top:0px;
}

#all {
	position:absolute;
	background-image:url("bg2.jpg");
	border:1px solid black;
	border-top:0px;
	padding: 0 20px 0 20px;
	margin-top: 0px;
	width:800px;
	left: 50%;
	margin-left: -420px;
}
#content {

	text-align:top;
	padding-top:20px;
	padding-bottom:20px;
}

#foot {
	color:gray;
	font-size:10px;
	margin-top:10px;
	margin-bottom:10px;
}

#barMenu {
	background-color:black;
	border-top:2px solid gray;
	width:100%;
	min-width:800px;
	color:white;
	padding-top:20px;
	padding-bottom:20px;
}

a {
  transition: color .4s;
  color: #265C83;
  text-decoration: none;
}

a:link,
a:visited { color: #265C83; }
a:hover   { color: #7FDBFF; }
a:active  {
  transition: color .3s;
  color: #007BE6;
}

#clients, #visits {
	border: 1px solid black;
}

#clients td, #visits td {
	text-align: center;
	border: 1px solid black;
	padding: 0 5px 0 5px;
}

#visitByClient {
	float: left;
	width: 399px;
}
#visitByPlace {
	float: right;
	width: 399px;
}
#visit {
	/* border: 1px solid black; */
	height: 100px;
	width: 800px;
}

#visits {
	overflow-x:auto;
}

/* thead, tbody { display: block; } */

tbody {
    height: 100px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}

input[type="submit"], input[type="submit"], select
{
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

input[type="submit"]:hover, select:hover {
    background-color: #008CBA; /* Green */
    color: white;
}

#travelsTab td {
	padding-left: 10px;
	text-align: center;
	padding-right: 10px;
}
#travelsTab tr:nth-child(n+3):hover {
	background-color: #0000bb;
	color: #ffffff;
}

tr,td {
	text-align: center;
}
